/* project */
.apercu_glob_project {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.apercu_project {
    overflow: hidden;
    height: 300px;
    width: 400px;
    margin: 1em 5em;
    border-radius: 2em;
    filter: grayscale(0);
}

.apercu_project:hover {
    filter: grayscale(1);
    transition: filter 0.2s ease-in; 
}
.description_project {
    display: none;
    height: 300px;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
  
.apercu_project:hover > span {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
  
/* .apercu_project:hover > img {
    filter: sepia(1);
    transition: filter 0.5s ease-in;
} */

a:visited {
    color: black;
}

a:link {
    text-decoration: none;
}