<div class="main">
    <div class="bio"><img loading="lazy" class="profile-img" src="../pictures/alexandre .png"/>
      <h3 class="contact_header">Alexndre Touchet</h3>
      <p id="contact_p">Développeur web et web mobile</p><a class="bio-link" href="https://twitter.com/?lang=fr">Twitter<i class="fa fa-twitter"></i></a><a class="bio-link" href="https://gitlab.com/alexandrepro3525">Gitlab<i class="fa fa-github"></i></a><a class="bio-link" href="https://www.linkedin.com/in/alexandre-touchet-6902401b9/" target="_blank">Linkedin<i class="fa fa-codepen"></i></a>
    </div>
    <div class="contact">
      <form id="form">
        <legend class="header">Get in touch</legend>
        <fieldset>
          <label class="fa fa-user" for="name-input" aria-hidden="true"></label>
          <input id="name-input" type="text" placeholder="Your name..."/>
        </fieldset>
        <fieldset>
          <label class="fa fa-envelope" for="email-input" aria-hidden="true"></label>
          <input id="email-input" type="email" placeholder="Your email..."/>
        </fieldset>
        <fieldset>
          <label class="fa fa-comment" for="message-input" aria-hidden="true"></label>
          <textarea id="message-input" placeholder="Your message..."></textarea>
        </fieldset>
        <fieldset>
          <button id="btn-submit" type="submit">Send</button>
        </fieldset>
      </form>
    </div>
  </div>